//====================================================================================================

.hero {
  background-color: #812d9f;

  @media (min-width: $tablet) {
    margin-top: toRem(30);
  }
  @media (max-width: $tablet) {
    margin-top: toRem(15);
  }

  &__container {
  }

  &__body {
    display: flex;
    column-gap: toRem(15);

    padding-top: toRem(65);
    @include adaptiveValue("padding-bottom", 65, 30);

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      justify-content: flex-end;
      row-gap: toRem(20);
      min-height: calc(100svh - toRem(15) - var(--header-height));
    }
    @media (max-width: $mobile) {
    }
  }

  &__content {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }

  &__title {
    text-align: start;
    max-width: toRem(575);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20);
    @include adaptiveValue("gap", 20, 10);

    @media (max-width: $tablet) {
      margin-top: auto;
    }
  }

  &__button {
    border-radius: toRem(20);
    @media (max-width: $mobile) {
      flex: 1 0 auto;
    }
  }

  &__link {
    &._icon-phone {
      flex-shrink: 0;
      background-color: #fce302;
      color: #812d9f;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;

      @media (min-width: $mobile) {
        border-radius: 50%;
        width: toRem(55);
        height: toRem(55);
      }
      @media (max-width: $mobile) {
        border-radius: toRem(20);
        padding: 0 toRem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: toRem(10);
        width: 100%;
        @include adaptiveValue("height", 55, 48);
      }

      &::before {
        @include adaptiveValue("font-size", 38, 24);
      }

      span {
        color: #812d9f;
        font-family: "Cera Round Pro";
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 500;
        line-height: 103.333%; /* 103.333% */
        @media (min-width: $mobile) {
          display: none;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          color: rgba(48, 210, 255, 0.8);
        }
      }
    }
  }

  &__image-ibg {
    position: relative;
    flex: 0 0 percent(600, 1200);

    padding-bottom: percent(400, 1200);

    @media (max-width: $tablet) {
      padding-bottom: percent(220, 345);
    }

    img {
      overflow: hidden;
      border-radius: toRem(30);
    }
  }

  &__star {
    position: absolute;
    top: toRem(-60);
    right: toRem(-77);
    z-index: 2;

    @include adaptiveValue("right", -77, 15, 0, 1400, 1230);
  }
}

//====================================================================================================

.whyus {
  @include adaptiveValue("padding-top", 160, 40);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    gap: toRem(30);
  }

  &__item {
  }
}

.item-whyus {
  display: flex;
  @include adaptiveValue("gap", 20, 15);

  @media (min-width: $tablet) {
    padding-left: toRem(40);
  }
  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__ico {
    max-width: toRem(50);
    @media (min-width: $mobile) {
      flex: 0 0 toRem(60);
      max-width: toRem(60);
    }

    img {
      max-width: 100%;
    }
  }

  &__content {
    @media (min-width: $tablet) {
      padding-top: toRem(5);
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
  }

  &__text {
  }
}

//========================================================================================================================================================

.activities {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    gap: toRem(30);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item {
  }
}

.image-activities {
}
.item-activities {
  position: relative;
  overflow: hidden;
  border-radius: toRem(15);

  border: toRem(1) solid #812d9f;
  &__image-ibg {
    display: block;
    padding-bottom: percent(406, 380);
  }
  a.item-activities__image-ibg {
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: toRem(15);
    background: #812d9f;
    border: toRem(1) solid #812d9f;

    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 30, 15);

    padding: toRem(13) toRem(20) toRem(23);
    min-height: toRem(190);

    @media (max-width: $pc) {
      padding: toRem(15);
    }
    @media (max-width: $mobile) {
      min-height: toRem(150);
    }
  }

  &__title {
  }

  &__link {
    margin-top: auto;
    width: fit-content;

    @media (max-width: $pc) {
      padding: 0 toRem(10);
    }
  }
}

.banner-activities {
  border-radius: toRem(15);
  background: #35c968;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 37, 15);

  padding: toRem(33) toRem(30) toRem(23);

  @media (max-width: $mobile) {
    padding-left: toRem(15);
    padding-right: toRem(15);
    text-align: center;
  }
  &__title {
  }

  &__button {
    margin-top: auto;
    width: fit-content;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.photo {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__slider {
    position: relative;

    @media (min-width: $tablet) {
      border-radius: toRem(30);
      border: toRem(1) solid #812d9f;
    }
  }

  &__wrapper {
  }

  &__slide-ibg {
    border-radius: toRem(30);
    overflow: hidden;
    padding-bottom: percent(600, 1200);

    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }
  }

  &__navigation {
    @media (min-width: $tablet) {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      justify-content: space-between;
      @include adaptiveValue("padding-right", 30, 15, 0, 1230, 991);
      @include adaptiveValue("padding-left", 30, 15, 0, 1230, 991);
    }
    @media (max-width: $tablet) {
      justify-content: flex-end;
      margin-top: toRem(20);
    }
  }
}

//========================================================================================================================================================
.readmore {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 30, 15, 0, 1230, 991);

    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }

  &__image-ibg {
    overflow: hidden;
    border-radius: toRem(20);
    flex: 0 0 percent(660, 1200);
    padding-bottom: percent(525, 1200);
    height: fit-content;

    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }
  }

  &__content {
  }

  &__title {
    text-align: start;
    @include adaptiveValue("margin-bottom", 30, 25);
  }

  &__showmore {
  }
}

//========================================================================================================================================================

.banner {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);

  &__wrapper {
    position: relative;
  }

  &__container {
  }

  &__body {
    padding: toRem(50) 0;
    display: flex;
    align-items: center;

    @media (min-width: $mobile) {
      min-height: toRem(300);
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: toRem(20);
  }

  &__title {
    @include adaptiveValue("font-size", 60, 30);
  }

  &__button {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

//========================================================================================================================================================

.contact {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 30, 20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
  }

  &__item {
  }
}

.item-contact {
  border-radius: toRem(15);
  background: #30d2ff;
  padding: toRem(20) toRem(20) toRem(17);

  display: grid;
  gap: toRem(17);

  &_image {
    background-color: transparent;
    padding-bottom: percent(300, 1200);
    border-radius: toRem(17);
    position: relative;
    transform: rotate(4.417deg);
    overflow: hidden;

    @media (max-width: em(550)) {
      display: none;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &_green {
    background-color: #35c968;
  }
  &_yellow {
    background-color: #fce302;
  }

  &__title {
    color: #2d2a2a;
  }

  &__text {
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 400;
    line-height: 110%;
  }

  &__phones {
  }

  &__link {
    display: block;
    line-height: 110%;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }

  &__button {
    margin-top: toRem(10);
    width: 100%;
    height: toRem(60);
    padding: toRem(10);
    column-gap: toRem(5);
    border-radius: toRem(15);

    &::before {
      font-size: toRem(28);
    }
    span {
      text-decoration: underline;
    }
  }
}
